.wrapper
  margin: 150px 0 100px

  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 370px))
  grid-gap: 35px
  justify-content: center

.card
  display: grid
  grid-template-areas: 'ico tit' '. tex'
  grid-template-columns: auto 1fr

.icon
  grid-area: ico
  border-radius: 50%

.title
  grid-area: tit
  padding-left: 17px
  margin: auto 0
  color: rgba(255, 255, 255, 0.7)

.text
  grid-area: tex
  padding: 0 17px
  color: rgba(255, 255, 255, 0.6)
  font-size: 14px

@media (max-width: 900px)
  .wrapper
    margin: 0
    padding: 0 17px
    grid-template-columns: repeat(auto-fill, minmax(260px, auto))