.container
  min-height: 100vh
  background-color: #171836

  display: grid
  grid-template-columns: 1fr auto 1fr

.wrapper
  grid-column-start: 2
  font-family: Inter

  display: flex
  flex-direction: column

@media (max-width: 900px)
  .container
    grid-template-columns: auto 1fr auto
